body {
    font-family: Helvetica, sans-serif;
    font-size: 14px;
}
#tesselation {
    border: 1px solid #666;
    width: 800px;
    height: 600px;
    margin: 30px auto;
}

#tesselation > svg {
    width: 800px;
    height: 600px;
    position: absolute;
}

#tesselation > svg polygon {
    stroke: #000;
    fill: #aaa;
    opacity: .8;
}

#tesselation > svg circle {
    stroke: #000;
    fill: #aca;
    opacity: .6;
}

#tesselation-types {
    list-style: none;
    padding: 0px;
    margin: 0px;
    width: 800px;
    margin: 50px auto;
}

#tesselation-types > li {
    float: left;
    margin-right: 50px;
}

.clear {
    clear: both;
}

#diff {
    position: absolute;
    right: 10px;
    top: 99px;
    border: 1px solid black;
    z-index: 10;
    text-align: center;
    background-color: white;
}